{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    <h3 align="center">
        Welcome, {{user.email}}!
    </h3>
{% endblock %}
{% block content %}
    {% block stash_contents %}
        <div id="stash">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Color</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Material</th>
                    <th scope="col">Amount (yards)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for yarn in stash %}
                        <tr>
                            <td class="c1">{{yarn.brand}}</td>
                            <td class="c2">{{yarn.color}}</td>
                            <td class="c3">{{yarn.weight}}</td>
                            <td class="c4">{{yarn.material}}</td>
                            <td class="c5">{{yarn.amount}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
    {% block needles_contents %}
        <div id="needles">
            <h4>Home Needles</h4>
            {% for yarn in stash %}
                    <!-- display needles -->
            {% endfor %}
    {% endblock%}
{% endblock %}