{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    <h2 align="center">
        Welcome, {{user.email}}!
    </h2>
    <br/ ></br/ >
{% endblock %}
{% block content %}
    {% block stash_contents %}
        <div align="center" id="stash">
            <h3>Stash</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Color</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Material</th>
                    <th scope="col">Amount (yards)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for yarn in stash %}
                        <tr>
                            <td class="c1">{{yarn.brand}}</td>
                            <td class="c2">{{yarn.color}}</td>
                            <td class="c3">{{yarn.weight}}</td>
                            <td class="c4">{{yarn.material}}</td>
                            <td class="c5">{{yarn.amount}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
    {% block needles_contents %}
    <div align="center" id="stash">
        <h3>Needle Inventory</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Gauge</th>
                <th scope="col">Type</th>
                <th scope="col">Length (inches)</th>
                </tr>
            </thead>
            <tbody>
                {% for needle in needles %}
                    <tr>
                        <td class="c1">{{needle.gauge}}</td>
                        <td class="c2">{{needle.type}}</td>
                        <td class="c3">{{needle.length}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock%}
{% endblock %}