{% extends "home.html" %}
{% block title %}Needles{% endblock %}
{% block head %}{% endblock %}
{% block content %}
    {{ super() }}
    {% block stash_contents %}
    {% endblock %}
    <div align="center">
        <a href="/update-needles">
        <button type="button" class="btn btn-secondary">Add to Needle Inventory</button>
        </a>
    </div>
    <br/ >
    <div align="center">
        <a href="/home">
        <button type="button" class="btn btn-secondary">Back to Home</button>
        </a>
    </div>
{% endblock %}